{% extends 'layouts/default.twig' %}

{% set body_class = 'business' %}

{% block page %}

<section class="title-page">
	<div class="title-area">
		<div class="container">
			<h3 data-aos="fade-right">
				Our
				<span>Business</span>
			</h3>
		</div>
	</div>
</section>
<section class="business-detail">
	<div class="container">
		<div class="row no-gutters thumbnail-info align-items-center">
			<div class="image-area col-lg-7">
				<div class="business-image">
					<img data-aos="fade-right" src="assets/img/graphics/batching_plant-1.png" alt="">
				</div>
			</div>
			<div class="info-thumb col-lg-5">
				<div class="wrapper">
					<div class="title-area">
						<h4 data-aos="fade-left">
							Batching Plant
						</h4>
					</div>
					<div class="desc-area">
						<p data-aos="fade-left" data-aos-delay="100">
							We have several type of Batching Plants such as Type Wet, Dry Type, Wet Mixer that comes from Japan and Germany and are using the semi automatic digital system, and full automatic computer system.
						</p>
						<p data-aos="fade-left" data-aos-delay="100">
							By using the Type Wet mixer may result a fast production capacity, homogeneity of the concrete mix and good quality, energy efficient and environmentally sound mixer truck.
						</p>
						<p data-aos="fade-left" data-aos-delay="100">
							We also have a mobile batching plants that can be placed at the project site and very fast in the installation process. Mobile Plant for projects with small to moderate volume in various regions of Indonesia. Capacity Mobile batching plants are small to medium to serve the needs of concrete for the project with concrete production speed 15-25 m3/hr.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row no-gutters thumbnail-info right-style align-items-center">
			<div class="image-area col-lg-7 order-lg-last">
				<div class="business-image">
					<img data-aos="fade-left" src="assets/img/graphics/concrete-design-1.png" alt="">
					<img data-aos="fade-left" src="assets/img/graphics/concrete-design-2.png" alt="">
				</div>
			</div>
			<div class="info-thumb col-lg-5 order-lg-first">
				<div class="wrapper">
					<div class="title-area">
						<h4 data-aos="fade-right">
							Concrete Design
						</h4>
					</div>
					<div class="desc-area">
						<p data-aos="fade-right" data-aos-delay="100">
							We provide a highly technical and personal services to ensure the quality produced in accordance with project specifications. We have experience in various projects with special specifications in getting the best quality, 
							including :
						</p>
						<ul>
							<li>
								<h6 data-aos="fade-right" data-aos-delay="100">High Performance Concrete</h6>
								<p data-aos="fade-right" data-aos-delay="150">
									Concrete with high quality for Building Multi-level, Airports, Ports, Dams, Bridges, etc.
								</p>
								<i class="circle" data-aos="zoom-in" data-aos-delay="800"></i>
							</li>
							<li>
								<h6 data-aos="fade-right" data-aos-delay="100">Shotcrete</h6>
								<p data-aos="fade-right" data-aos-delay="150">
									Concrete fired by way of casting under pressure using a feeder or a gun on the tunnel wall or retaining wall.
								</p>
								<i class="circle" data-aos="zoom-in" data-aos-delay="800"></i>
							</li>
							<li>
								<h6 data-aos="fade-right" data-aos-delay="100">Precast Concrete</h6>
								<p data-aos="fade-right" data-aos-delay="150">
									Concrete with concrete Release rate is rapid, such as for factories, piles, slabs, rigid pavement, etc.
								</p>
								<i class="circle" data-aos="zoom-in" data-aos-delay="800"></i>
							</li>
							<li>
								<h6 data-aos="fade-right" data-aos-delay="100">Normal Concrete</h6>
								<p data-aos="fade-right" data-aos-delay="150">
									Concrete with a quality standard or the common on many projects with quality as required.
								</p>
								<i class="circle" data-aos="zoom-in" data-aos-delay="800"></i>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}