{% extends 'layouts/default.twig' %}

{% set body_class = 'contact' %}

{% block page %}

<section class="title-page contact-title">
	<div class="title-area">
		<div class="container">
			<h3 data-aos="fade-right">
				Get
				<span>In Touch</span>
			</h3>
		</div>
	</div>
</section>
<section class="map-contact">
	<div class="map" data-aos="fade-in">
		<div id="map-header"></div>
		<div id="map-canvas"></div>
		<div id="map-footer"></div>
	</div>
	<div class="form-contact">
		<div class="container">
			<div class="row justify-content-end align-items-center">
				<div class="col-lg-6">
					<div class="wrapper">
						<div class="detail-address show-desktop" data-aos="fade-left">
							<div class="footer-logo">
								<h5 href="https://unggulsejatiindonesia.com/">
									<span class="logo"></span>
									<strong>PT. Unggul Sejati Indonesia</strong>
								</h5>
							</div>
							<div class="address">
								<address>
									Jl. Janur II , No. 6-7 <br>
									Komp. Billy &amp; Moon,
									Pondok Kelapa, Duren Sawit,
									Jakarta Timur, 13450, Indonesia.
								</address>
							</div>
							<ul class="phone-email flat">
								<li>
									<a href="mailto:mail@email.com">
										<i class="fas fa-envelope"></i>
										<span>mail@email.com</span>
									</a>
								</li>
								<li>
									<a href="tel:+622186904884">
										<i class="fas fa-phone-alt"></i>
										<span>+62 21 8690 4884</span>
									</a>
								</li>
							</ul>
						</div>
						<div class="form" data-aos="fade-left" data-aos-delay="100">
							<form action="" id="form-message">
								<div class="form-row">
									<div class="form-group col-md-6">
										<input type="text" class="form-control" placeholder="Name" name="name" required>
									</div>
									<div class="form-group col-md-6">
										<input type="email" class="form-control" placeholder="Email" name="email" required>
									</div>
								</div>
								<div class="form-group">
									<textarea class="form-control" placeholder="Message" name="message"></textarea>
								</div>
								<div class="button-area">
									<button type="submit" class="button">
										<span>Submit</span>
										<i class="icon-arrow"></i>
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
