{% extends 'layouts/default.twig' %}

{% set body_class = 'contact' %}

{% block page %}

<section class="title-page contact-title">
	<div class="title-area">
		<div class="container">
			<h3 data-aos="fade-right">
				Get
				<span>In Touch</span>
			</h3>
		</div>
	</div>
</section>
<section class="map-contact">
	<div class="map" data-aos="fade-in">
		<div id="map-header"></div>
		<div id="map-canvas"></div>
		<div id="map-footer"></div>
	</div>
</section>

{% endblock %}
