{% extends 'layouts/default.twig' %}

{% set body_class = 'index' %}

{% block page %}

<section class="cover">
	<div class="container-fluid">
		<div class="cover-area" data-aos="fade-in">
			<div class="cover-content" id="cover-content">
				<div class="cover-list">
					<div class="wrapper">
						<div class="overlay"></div>
						<div class="image-area">
							<img src="assets/img/images/images_1.jpg" alt="">
						</div>
						<div class="desc-area" data-aos="fade-in" data-aos-delay="600">
							<h3>Waduk Jatigede</h3>
							<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer leo est, porta nec dictum a, lacinia vitae odio</h5>
							<a href="#" class="button">
								<span>View Project</span>
								<i class="icon-arrow"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="cover-list">
					<div class="wrapper">
						<div class="overlay"></div>
						<div class="image-area">
							<img src="assets/img/images/images_2.jpg" alt="">
						</div>
						<div class="desc-area" data-aos="fade-in" data-aos-delay="600">
							<h3>Waduk Jatigede</h3>
							<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer leo est, porta nec dictum a, lacinia vitae odio</h5>
							<a href="#" class="button">
								<span>View Project</span>
								<i class="icon-arrow"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="cover-list">
					<div class="wrapper">
						<div class="overlay"></div>
						<div class="image-area">
							<img src="assets/img/images/images_3.jpg" alt="">
						</div>
						<div class="desc-area" data-aos="fade-in" data-aos-delay="600">
							<h3>Waduk Jatigede</h3>
							<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer leo est, porta nec dictum a, lacinia vitae odio</h5>
							<a href="#" class="button">
								<span>View Project</span>
								<i class="icon-arrow"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="cover-list">
					<div class="wrapper">
						<div class="overlay"></div>
						<div class="image-area">
							<img src="assets/img/images/images_4.jpg" alt="">
						</div>
						<div class="desc-area" data-aos="fade-in" data-aos-delay="600">
							<h3>Waduk Jatigede</h3>
							<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer leo est, porta nec dictum a, lacinia vitae odio</h5>
							<a href="#" class="button">
								<span>View Project</span>
								<i class="icon-arrow"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="about-info">
	<div class="container">
		<div class="row no-gutters justify-content-start">
			<div class="col-12 col-lg-5">
				<div class="info" data-aos="fade-right">
					<div class="image-area chart"></div>
					<div class="desc-area">
						<h4>Dynamic Improvement</h4>
						<p>We perform dynamic improvement and expansion to maintain concrete quality and excellent service for customers’ satisfaction.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row no-gutters justify-content-center">
			<div class="col-12 col-lg-5">
				<div class="info" data-aos="zoom-in">
					<div class="image-area accurate"></div>
					<div class="desc-area">
						<h4>Quickly and Accurately</h4>
						<p>We have a number of ancillary equipment Readymix which can produce and transport the material to the location plant quickly, accurately and with appropriate quality specifications of the project.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row no-gutters justify-content-end">
			<div class="col-12 col-lg-5">
				<div class="info" data-aos="fade-left">
					<div class="image-area time"></div>
					<div class="desc-area">
						<h4>Timeliness and Quality</h4>
						<p>We have successfully completed the project with the timeliness and quality of concrete in accordance with project specifications.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-area">
		<img class="show-desktop" src="assets/img/graphics/bg-about.png" alt="">
		<img class="show-mobile" src="assets/img/graphics/bg-about-mobile.png" alt="">
	</div>
</section>
<section class="business-info">
	<div class="container">
		<div class="row no-gutters thumbnail-info align-items-center">
			<div class="image-area col-lg-8">
				<div class="gallery-image shadow" data-aos="fade-right">
					<img src="assets/img/images/images_10.jpg" alt="">
				</div>
				<div class="title-area">
					<h3 data-aos="fade-left">
						Wet 
						<span>Batching Plant</span>
					</h3>
				</div>
			</div>
			<div class="info-thumb col-lg-4">
				<div class="wrapper">
					<div class="desc-area" data-aos="fade-left" data-aos-delay="100">
						<p>Wet Mixer that comes from Japan and Germany and are using the semi automatic digital system, and full automatic computer system.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row no-gutters thumbnail-info right-style align-items-center">
			<div class="image-area col-lg-8 order-lg-last">
				<div class="gallery-image shadow" data-aos="fade-left">
					<img src="assets/img/images/images_9.jpg" alt="">
				</div>
				<div class="title-area">
					<h3 data-aos="fade-right">
						Dry 
						<span>Batching Plant</span>
					</h3>
				</div>
			</div>
			<div class="info-thumb col-lg-4 order-lg-first">
				<div class="wrapper">
					<div class="desc-area" data-aos="fade-right" data-aos-delay="100">
						<p>Dry Mixer that comes from Japan and Germany and are using the semi automatic digital system, and full automatic computer system.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row no-gutters thumbnail-info align-items-center">
			<div class="image-area col-lg-8">
				<div class="gallery-image shadow" data-aos="fade-right">
					<img src="assets/img/images/images_13.jpg" alt="">
				</div>
				<div class="title-area">
					<h3 data-aos="fade-left">
						Concrete 
						<span>Design</span>
					</h3>
				</div>
			</div>
			<div class="info-thumb col-lg-4">
				<div class="wrapper">
					<div class="desc-area" data-aos="fade-left" data-aos-delay="100">
						<p>We provide a highly technical and personal services to ensure the quality produced in accordance with project specifications.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="project-info">
	<div class="wrapper">
		<div class="title-section">
			<h3 data-aos="fade-right">
				Our
				<span>Projects</span>
			</h3>
			<div class="link-cta" data-aos="fade-right" data-aos-delay="300">
				<a href="projects.html" class="cta">
					<span>View All</span>
					<i class="icon-arrow"></i>
				</a>
			</div>
		</div>
		<div class="project-slider" data-aos="zoom-in" data-aos-delay="600">
			<div class="project-area">
				<div class="project-list">
					<div class="project-wrapper">
						<div class="project">
							<div class="image-area shadow">
								<img src="assets/img/images/images_3.jpg" alt="">
							</div>
							<ul class="tag">
								<li>
									<a href="projects.html">Airports</a>
								</li>
							</ul>
							<div class="desc-area">
								<h5>Kualanamu Airports</h5>
							</div>
						</div>
						<a href="project-gallery.html" class="link"></a>
					</div>
				</div>
				<div class="project-list">
					<div class="project-wrapper">
						<div class="project">
							<div class="image-area shadow">
								<img src="assets/img/images/images_2.jpg" alt="">
							</div>
							<ul class="tag">
								<li>
									<a href="projects.html">Airports</a>
								</li>
							</ul>
							<div class="desc-area">
								<h5>Kertajati Airport</h5>
							</div>
						</div>
						<a href="project-gallery.html" class="link"></a>
					</div>
				</div>
				<div class="project-list">
					<div class="project-wrapper">
						<div class="project">
							<div class="image-area shadow">
								<img src="assets/img/images/images_3.jpg" alt="">
							</div>
							<ul class="tag">
								<li>
									<a href="projects.html">Airports</a>
								</li>
							</ul>
							<div class="desc-area">
								<h5>Kualanamu Airports</h5>
							</div>
						</div>
						<a href="project-gallery.html" class="link"></a>
					</div>
				</div>
				<div class="project-list">
					<div class="project-wrapper">
						<div class="project">
							<div class="image-area shadow">
								<img src="assets/img/images/images_2.jpg" alt="">
							</div>
							<ul class="tag">
								<li>
									<a href="projects.html">Airports</a>
								</li>
							</ul>
							<div class="desc-area">
								<h5>Kertajati Airport</h5>
							</div>
						</div>
						<a href="project-gallery.html" class="link"></a>
					</div>
				</div>
				<div class="project-list">
					<div class="project-wrapper">
						<div class="project">
							<div class="image-area shadow">
								<img src="assets/img/images/images_3.jpg" alt="">
							</div>
							<ul class="tag">
								<li>
									<a href="projects.html">Airports</a>
								</li>
							</ul>
							<div class="desc-area">
								<h5>Kualanamu Airports</h5>
							</div>
						</div>
						<a href="project-gallery.html" class="link"></a>
					</div>
				</div>
			</div>
			<div class="project-nav">
				<div class="wrapper">
					<div class="nav-wrapper" data-aos="fade-up">
						<div class="photos" style="background-image: url('assets/img/images/images_3.jpg');"></div>
					</div>
					<div class="nav-wrapper" data-aos="fade-up">
						<div class="photos" style="background-image: url('assets/img/images/images_2.jpg');"></div>
					</div>
					<div class="nav-wrapper" data-aos="fade-up">
						<div class="photos" style="background-image: url('assets/img/images/images_3.jpg');"></div>
					</div>
					<div class="nav-wrapper" data-aos="fade-up">
						<div class="photos" style="background-image: url('assets/img/images/images_2.jpg');"></div>
					</div>
					<div class="nav-wrapper" data-aos="fade-up">
						<div class="photos" style="background-image: url('assets/img/images/images_3.jpg');"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="partners-info">
	<div class="partners-slider">
		<div class="partners-list">
			<div class="partners" data-aos="zoom-in">
				<img src="assets/img/partners/partners_adhikarya.jpg" alt="">
			</div>
		</div>
		<div class="partners-list">
			<div class="partners" data-aos="zoom-in">
				<img src="assets/img/partners/partners_bp.png" alt="">
			</div>
		</div>
		<div class="partners-list">
			<div class="partners" data-aos="zoom-in">
				<img src="assets/img/partners/partners_chiyoda.png" alt="">
			</div>
		</div>
		<div class="partners-list">
			<div class="partners" data-aos="zoom-in">
				<img src="assets/img/partners/partners_gealstom.png" alt="">
			</div>
		</div>
		<div class="partners-list">
			<div class="partners" data-aos="zoom-in">
				<img src="assets/img/partners/partners_hk.jpg" alt="">
			</div>
		</div>
		<div class="partners-list">
			<div class="partners" data-aos="zoom-in">
				<img src="assets/img/partners/partners_jagatkonstruksi.jpg" alt="">
			</div>
		</div>
		<div class="partners-list">
			<div class="partners" data-aos="zoom-in">
				<img src="assets/img/partners/partners_pp.jpg" alt="">
			</div>
		</div>
		<div class="partners-list">
			<div class="partners" data-aos="zoom-in">
				<img src="assets/img/partners/partners_waskita.jpg" alt="">
			</div>
		</div>
		<div class="partners-list">
			<div class="partners" data-aos="zoom-in">
				<img src="assets/img/partners/partners_wika.png" alt="">
			</div>
		</div>
		<div class="partners-list">
			<div class="partners" data-aos="zoom-in">
				<img src="assets/img/partners/partners-jayakonstruksi.jpg" alt="">
			</div>
		</div>
	</div>
</section>

{% endblock %}
