{% extends 'layouts/default.twig' %}

{% set body_class = 'project-gallery' %}

{% block page %}

<section class="title-page">
	<div class="title-area">
		<div class="container">
			<h4 data-aos="fade-right">
				<small>Highway</small>
				<span>Cipularang Highway Phase II</span>
			</h4>
		</div>
	</div>
</section>
<section class="gallery">
	<div class="container">
		<div class="video-source" style="display:none;">
			<div id="video1" style="display:none;">
				<video class="lg-video-object lg-html5" controls="" preload="none">
					<source src="assets/video/movie.mp4" type="video/mp4">
					Your browser does not support HTML5 video.
				</video>
			</div>
		</div>
		<div class="row no-gutters">
			<div class="col-6 col-md-4">
				<div class="gallery-wrapper">
					<div class="image-area shadow selector" data-exthumbimage="assets/img/images/images_2.jpg" data-src="assets/img/images/images_2.jpg" data-aos="zoom-in">
						<img src="assets/img/images/images_2.jpg" alt="">
						<div class="overlay-bg">
							<div class="hover-icon">
								<span class="icon"></span>
							</div>
						</div>
						<div class="overlay-mobile show-mobile">
							<div class="icon">
								<span class="fa fa-search-plus"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6 col-md-4">
				<div class="gallery-wrapper">
					<div class="image-area shadow selector" data-exthumbimage="assets/img/images/images_1.jpg" data-src="assets/img/images/images_1.jpg" data-aos="zoom-in">
						<img src="assets/img/images/images_1.jpg" alt="">
						<div class="overlay-bg">
							<div class="hover-icon">
								<span class="icon"></span>
							</div>
						</div>
						<div class="overlay-mobile show-mobile">
							<div class="icon">
								<span class="fa fa-search-plus"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6 col-md-4">
				<div class="gallery-wrapper">
					<div class="image-area shadow selector" data-exthumbimage="assets/img/images/images_3.jpg" data-src="assets/img/images/images_3.jpg" data-aos="zoom-in">
						<img src="assets/img/images/images_3.jpg" alt="">
						<div class="overlay-bg">
							<div class="hover-icon">
								<span class="icon"></span>
							</div>
						</div>
						<div class="overlay-mobile show-mobile">
							<div class="icon">
								<span class="fa fa-search-plus"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6 col-md-4">
				<div class="gallery-wrapper">
					<div class="image-area shadow selector" data-exthumbimage="assets/img/images/images_7.jpg" data-src="assets/img/images/images_7.jpg" data-aos="zoom-in">
						<img src="assets/img/images/images_7.jpg" alt="">
						<div class="overlay-bg">
							<div class="hover-icon">
								<span class="icon"></span>
							</div>
						</div>
						<div class="overlay-mobile show-mobile">
							<div class="icon">
								<span class="fa fa-search-plus"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6 col-md-4">
				<div class="gallery-wrapper">
					<div class="image-area shadow selector" data-exthumbimage="assets/img/images/images_4.jpg" data-src="assets/img/images/images_4.jpg" data-aos="zoom-in">
						<img src="assets/img/images/images_4.jpg" alt="">
						<div class="overlay-bg">
							<div class="hover-icon">
								<span class="icon"></span>
							</div>
						</div>
						<div class="overlay-mobile show-mobile">
							<div class="icon">
								<span class="fa fa-search-plus"></span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Video -->
			<div class="col-6 col-md-4">
				<div class="gallery-wrapper">
					<div class="image-area video-wrapper shadow selector" data-html="#video1" data-poster="https://sachinchoolur.github.io/lightGallery/static/img/videos/y-video2-cover.jpg" data-aos="zoom-in">
						<img src="https://sachinchoolur.github.io/lightGallery/static/img/videos/y-video2-cover.jpg" alt="">
						<div class="image-play">
							<img src="assets/img/icon-play.png">
						</div>
						<div class="overlay-bg">
							<div class="hover-icon">
								<span class="icon"></span>
							</div>
						</div>
						<div class="overlay-mobile show-mobile">
							<div class="icon">
								<span class="fa fa-search-plus"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}