{% extends 'layouts/default.twig' %}

{% set body_class = 'story' %}

{% block page %}

<section class="title-page">
	<div class="title-area">
		<div class="container">
			<h3 data-aos="fade-right">
				Our
				<span>Story</span>
			</h3>
		</div>
	</div>
</section>
<section class="content-detail">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-lg-6">
				<article>
					<p data-aos="fade-right" data-aos-delay="50">
						PT Unggul Sejati Indonesia is a private owned national company of concrete readymix supplier that operating in all parts of Indonesia. 
					</p>
					<p data-aos="fade-right" data-aos-delay="100">
						We started the company of concrete readymix from 1 (one) location of batching plant at Toll Cipularang II project in 2003. 
					</p>
					<p data-aos="fade-right" data-aos-delay="150">
						We currently have a number of batching plants Type Wet and Dry Type Mobile batching plants which now are operating in Sumatra, Java and other regions in Indonesia. 
					</p>
					<p data-aos="fade-right" data-aos-delay="200">
						Among them are Ciledug, Gebang – Cirebon, Jatigede – Sumedang, Tasikmalaya, Bandung, Teluk Naga, Lubukpakam, Medan – North Sumatra, Jambi, Tanjung Pinang, etc.
					</p>
				</article>
			</div>
		</div>
	</div>
</section>
<section class="certificate">
	<div class="container">
		<div class="wrapper">
			<div class="row certificate-list">
				<div class="col-lg-6 order-lg-last">
					<div class="title-section">
						<h3 data-aos="fade-left">
							Our
							<span>Certificate's</span>
						</h3>
					</div>
					<div class="certificate-image shadow selector" data-exthumbimage="assets/img/certificates/certificates_iso.jpg" data-src="assets/img/certificates/certificates_iso.jpg" data-aos="fade-left" data-aos-delay="400">
						<img src="assets/img/certificates/certificates_iso.jpg" alt="">
						<div class="overlay-bg">
							<div class="hover-icon">
								<span class="icon"></span>
							</div>
						</div>
						<div class="overlay-mobile show-mobile">
							<div class="icon">
								<span class="fa fa-search-plus"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 order-lg-first">
					<div class="certificate-image shadow selector" data-exthumbimage="assets/img/certificates/certificates_k3.jpg" data-src="assets/img/certificates/certificates_k3.jpg" data-aos="fade-right" data-aos-delay="400">
						<img src="assets/img/certificates/certificates_k3.jpg" alt="">
						<div class="overlay-bg">
							<div class="hover-icon">
								<span class="icon"></span>
							</div>
						</div>
						<div class="overlay-mobile show-mobile">
							<div class="icon">
								<span class="fa fa-search-plus"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-area">
		<img class="show-desktop" src="assets/img/graphics/bg-about.png" alt="">
		<img class="show-mobile" src="assets/img/graphics/bg-about-mobile.png" alt="">
	</div>
</section>
<section class="awards">
	<div class="container">
		<div class="title-section">
			<h3 data-aos="fade-right">
				Our
				<span>Award's</span>
			</h3>
		</div>
		<div class="wrapper">
			<div class="row awards-list">
				<div class="col-sm-6 col-lg-4">
					<div class="awards-image shadow selector" data-exthumbimage="assets/img/certificates/awards_1.jpg" data-src="assets/img/certificates/awards_1.jpg" data-aos="zoom-in">
						<img src="assets/img/certificates/awards_1.jpg" alt="">
						<div class="overlay-bg">
							<div class="hover-icon">
								<span class="icon"></span>
							</div>
						</div>
						<div class="overlay-mobile show-mobile">
							<div class="icon">
								<span class="fa fa-search-plus"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4">
					<div class="awards-image shadow selector" data-exthumbimage="assets/img/certificates/awards_2.jpg" data-src="assets/img/certificates/awards_2.jpg" data-aos="zoom-in" data-aos-delay="50">
						<img src="assets/img/certificates/awards_2.jpg" alt="">
						<div class="overlay-bg">
							<div class="hover-icon">
								<span class="icon"></span>
							</div>
						</div>
						<div class="overlay-mobile show-mobile">
							<div class="icon">
								<span class="fa fa-search-plus"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4">
					<div class="awards-image shadow selector" data-exthumbimage="assets/img/certificates/awards_3.jpg" data-src="assets/img/certificates/awards_3.jpg" data-aos="zoom-in" data-aos-delay="100">
						<img src="assets/img/certificates/awards_3.jpg" alt="">
						<div class="overlay-bg">
							<div class="hover-icon">
								<span class="icon"></span>
							</div>
						</div>
						<div class="overlay-mobile show-mobile">
							<div class="icon">
								<span class="fa fa-search-plus"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4">
					<div class="awards-image shadow selector" data-exthumbimage="assets/img/certificates/awards_4.jpg" data-src="assets/img/certificates/awards_4.jpg" data-aos="zoom-in" data-aos-delay="150">
						<img src="assets/img/certificates/awards_4.jpg" alt="">
						<div class="overlay-bg">
							<div class="hover-icon">
								<span class="icon"></span>
							</div>
						</div>
						<div class="overlay-mobile show-mobile">
							<div class="icon">
								<span class="fa fa-search-plus"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4">
					<div class="awards-image shadow selector" data-exthumbimage="assets/img/certificates/awards_1.jpg" data-src="assets/img/certificates/awards_1.jpg" data-aos="zoom-in" data-aos-delay="200">
						<img src="assets/img/certificates/awards_1.jpg" alt="">
						<div class="overlay-bg">
							<div class="hover-icon">
								<span class="icon"></span>
							</div>
						</div>
						<div class="overlay-mobile show-mobile">
							<div class="icon">
								<span class="fa fa-search-plus"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4">
					<div class="awards-image shadow selector" data-exthumbimage="assets/img/certificates/awards_2.jpg" data-src="assets/img/certificates/awards_2.jpg" data-aos="zoom-in" data-aos-delay="250">
						<img src="assets/img/certificates/awards_2.jpg" alt="">
						<div class="overlay-bg">
							<div class="hover-icon">
								<span class="icon"></span>
							</div>
						</div>
						<div class="overlay-mobile show-mobile">
							<div class="icon">
								<span class="fa fa-search-plus"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}