.cover {
	position: relative;

	+ .hero-banner {
		padding: 50px 0 0;
	
		@include breakpoint(wide) {
			padding: 80px 0 0;
		}
	}

	.container-fluid {
		@include breakpoint(width-tablet) {
			padding: 0;
		}
	}

	.cover-area {
		position: relative;
	}

	.cover-content {
		position: relative;
	}

	.cover-list {
		.wrapper {
			position: relative;
			height: calc(100vh - 40px);

			@include breakpoint(wide) {
				height: auto;
			}
		}
	}

	.overlay {
		height: 50%;
		position: absolute;
		z-index: 0;
		top: initial;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1	;
		pointer-events: none;
		background: rgb(0,0,0);
		background: -moz-linear-gradient(0deg, rgba(0,0,0,0.6012780112044818) 0%, rgba(0,0,0,0.20351890756302526) 70%, rgba(255,255,255,0) 100%);
		background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.6012780112044818) 0%, rgba(0,0,0,0.20351890756302526) 70%, rgba(255,255,255,0) 100%);
		background: linear-gradient(0deg, rgba(0,0,0,0.6012780112044818) 0%, rgba(0,0,0,0.20351890756302526) 70%, rgba(255,255,255,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
		
		@include breakpoint(wide) {
			height: 40%;
		}
	}

	.image-area {
		position: relative;
		width: 100%;
		height: 100%;	
		
		@include breakpoint(wide) {
			height: 0;
			padding: 0 0 66.5%;
		}

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.desc-area {
		position: absolute;
		top: initial;
		left: 0;
		right: initial;
		bottom: 40px;
		z-index: 1;
		max-width: 85%;
		padding-left: 16px;
		
		@include breakpoint(small-mobile) {
			max-width: 100%;
		}
		
		@include breakpoint(tablet) {
			max-width: 60%;
			padding-left: 30px;
		}

		@include breakpoint(wide) {
			padding: 0;
			left: 40px;
			bottom: 40px;
			max-width: 60%;
		}

		@include breakpoint(laptop) {
			left: 60px;
			bottom: 60px;
			max-width: 45%;
		}

		h3 {
			font-family: 'gilroy_black';
			font-size: 2.4em;
			text-transform: uppercase;
			color: $white;
			line-height: 100%;
			text-shadow: 0 2px 13px rgba(0,0,0,0.5);
			
			@include breakpoint(small-mobile) {
				font-size: 2.1em;
			}
			
			@include breakpoint(tablet) {
				font-size: 4em;
			}
			
			@include breakpoint(wide) {
				font-size: 3.6em;
			}
			
			@include breakpoint(laptop) {
				font-size: 4.2em;
			}
			
			@include breakpoint(wide-laptop) {
				font-size: 5em;
			}

			+ h5 {
				margin: 10px 0 0;
				
				@include breakpoint(tablet) {
					margin: 20px 0 0;
				}
			}
		}

		h5 {
			font-size: 1.1em;
			color: $white;
			line-height: 140%;
			text-shadow: 0 2px 13px rgba(0,0,0,0.5);
			
			@include breakpoint(small-mobile) {
				font-size: 1em;
			}
			
			@include breakpoint(tablet) {
				font-size: 1.4em;
			}
			
			@include breakpoint(wide-laptop) {
				font-size: 1.6em;
			}

			+ .button {
				margin: 20px 0 0;

				@include breakpoint(tablet) {
					margin: 30px 0 0;
				}
			}
		}

		.button {
			font-size: 1em;
			padding: 6px 12px;
			box-shadow: 0 2px 15px 0 rgba(0,0,0,0.5);
			
			@include breakpoint(tablet) {
				font-size: 1.3em;
				padding: 10px 20px;
			}

			.icon-arrow {
				width: 18px;
				height: 18px;

				@include breakpoint(tablet) {
					width: 24px;
					height: 24px;
				}
			}
		}
	}

	.scroll-down {
		text-align: center;
		position: absolute;
		top: initial;
		bottom: 30px;
		left: 50%;
		right: initial;
		padding-top: 50px;
		position: absolute;
		z-index: 1;
		top: initial;
		left: 50%;
		right: initial;
		width: 40px;
		margin-left: -20px;

		@include breakpoint(small-mobile) {
			bottom: 10px;
		}

		@include breakpoint(tablet) {
			padding-top: 64px;
		}

		@include breakpoint(desktop) {
			bottom: 20px;
		}

		&:focus,
		&:hover {
			@include breakpoint(desktop) {
				color: $primary-red;
			}

			.icon {
				@include breakpoint(desktop) {
					border-color: $primary-red;
				}

				&:before {
					@include breakpoint(desktop) {
						background-color: $primary-red;
					}
				}
			}

			strong {
				@include breakpoint(desktop) {
					color: $primary-red;
				}
			}
		}

		.icon {
			position: absolute;
			top: 0;
			left: 50%;
			right: initial;
			bottom: initial;
			width: 26px;
			height: 50px;
			background: url('../assets/img/icon-phone-black.png') center no-repeat;
			background-size: contain;
			transform: translate(-50%, 0);
			transition: all 0.3s linear;

			@include breakpoint(tablet) {
				width: 34px;
				height: 64px;
			}

			@include breakpoint(desktop) {
				width: 30px;
				height: 50px;
				border: 2px solid $white;
				background: transparent;
				border-radius: 50px;
			}

			&:before {
				content: '';
				position: absolute;
				top: 13px;
				left: 50%;
				right: initial;
				bottom: initial;
				width: 6px;
				height: 6px;
				background-color: $white;
				border-radius: 100%;
				margin-left: -3px;
				animation: scroll-down-reverse 2s infinite;

				@include breakpoint(tablet) {
					top: 20px;
				}

				@include breakpoint(desktop) {
					top: 10px;
					animation: scroll-down 2s infinite;
				}
			}
		}

		strong {
			font-weight: normal;
			color: $white;
			font-size: 0.9em;
			display: none;
			transition: all 0.3s linear;
			
			@include breakpoint(desktop) {
				display: block;
			}
		}
	}
}

.about-info {
	.row {
		+ .row {
			margin-top: 30px;
		}
	}

	.bg-area {
		position: absolute;
		z-index: -1;
		top: 50%;
		left: 0;
		right: 0;
		bottom: initial;
		transform: translate(0, -50%);

		img {
			width: 100%;
		}
	}

	.rectangle {
		width: 100%;
		height: 300px;
		background-color: #ddd;
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 0;
		right: 0;
		bottom: initial;
		transform: rotate(-20deg) translate(0, -50%);
	}

	.info {
		position: relative;
		text-align: center;
		
		@include breakpoint(wide) {
			text-align: left;
		}

		h4 {
			font-family: 'gilroy_black';
			text-transform: uppercase;
			color: $title-color;
			font-size: 1.6em;
			line-height: 100%;
			
			@include breakpoint(small-mobile) {
				font-size: 1.4em;
			}

			@include breakpoint(tablet) {
				font-size: 2.2em;
			}
			
			@include breakpoint(wide) {
				font-size: 1.8em;
			}

			@include breakpoint(laptop) {
				font-size: 2.2em;
			}

			+ p {
				margin: 16px 0 0;
			}
		}

		p {
			margin: 0;
			font-size: 1.1em;

			@include breakpoint(small-mobile) {
				font-size: 1em;
			}
			
			@include breakpoint(tablet) {
				font-size: 1.2em;
			}
			
			@include breakpoint(wide) {
				font-size: 1em;
			}
			
			@include breakpoint(laptop) {
				font-size: 1.2em;
			}
		}

		.image-area {
			display: block;
			width: 150px;
			height: 90px;
			margin: 0 auto 16px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			
			@include breakpoint(small-mobile) {
				height: 80px;
			}

			@include breakpoint(wide) {
				margin: 0;
				width: 80px;
				height: auto;
				position: absolute;
				top: 0;
				left: 0;
				right: initial;
				bottom: 0;
			}

			@include breakpoint(desktop) {
				width: 110px;
			}

			@include breakpoint(laptop) {
				width: 120px;
			}

			&.chart {
				background-image: url('../assets/img/icons/icon_chart.png');
			}

			&.accurate {
				background-image: url('../assets/img/icons/icon_accurate.png');
			}

			&.time {
				background-image: url('../assets/img/icons/icon_time.png');
			}
		}

		.desc-area {
			@include breakpoint(wide) {
				padding: 0 0 0 110px;
			}

			@include breakpoint(desktop) {
				padding: 0 0 0 140px;
			}
			
			@include breakpoint(laptop) {
				padding: 0 0 0 150px;
			}
		}
	}
}

.business-info {
	.thumbnail-info {
		position: relative;

		&.right-style {
			.info-thumb {
				text-align: right;	

				.wrapper {
					@include breakpoint(wide) {
						padding: 0 30px 0 0;
					}
				}
			}

			.title-area {
				text-align: right;
				
				@include breakpoint(wide) {
					left: initial;
					right: 95%;
				}
			}
		}

		+ .thumbnail-info {
			margin: 30px 0 0;
			
			@include breakpoint(tablet) {
				margin: 60px 0 0;
			}
		}
	}

	.gallery-image {
		position: relative;
		height: 0;
		padding: 0 0 66.5%;
		
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.image-area {
		+ .info-thumb {
			margin: 20px 0 0;
			
			@include breakpoint(wide) {
				margin: 0;
			}
		}
	}

	.info-thumb {
		.wrapper {
			@include breakpoint(wide) {
				padding: 0 0 0 30px;
			}
		}
	}

	.title-area {
		position: relative;
		z-index: 1;
		margin-top: -15px;

		@include breakpoint(tablet) {
			margin-top: -20px;
		}

		@include breakpoint(wide) {
			margin-top: 0;
			position: absolute;
			top: -5%;
			left: 95%;
			right: initial;
			width: 350px;
		}

		h3 {
			font-family: 'gilroy_black';
			font-size: 2.2em;
			text-transform: uppercase;
			line-height: 100%;
			color: $subtitle-color;
			
			@include breakpoint(tablet) {
				font-size: 3.6em;
			}
			
			@include breakpoint(wide) {
				font-size: 3.2em;
			}
			
			@include breakpoint(wide-laptop) {
				font-size: 4em;
			}

			span {
				color: $title-color;
				display: block;
			}
		}
	}

	.desc-area {
		p {
			font-size: 1.1em;
			
			@include breakpoint(tablet) {
				font-size: 1.3em;
			}
		}
	}
}

.project-info {
	background-color: $bg-default;

	.wrapper {
		position: relative;
		
		@include breakpoint(wide) {
			margin: 60px 0 0;
		}
	}

	.title-section {
		padding: 0 16px;
	
		@include breakpoint(tablet) {
			padding: 0 30px;
		}

		@include breakpoint(wide) {
			padding: 0;
			position: absolute;
			z-index: 2;
			top: -60px;
			bottom: initial;
			left: 3%;
			right: initial;
		}

		@include breakpoint(desktop) {
			left: 5%;
		}

		@include breakpoint(laptop) {
			left: 10%;
		}

		@include breakpoint(large-desktop) {
			left: 15%;
		}

		@include breakpoint(imac) {
			left: 15%;
		}

		+.project-slider {
			margin: 20px 0 0;
			
			@include breakpoint(wide) {
				margin: 0;
			}
		}
	}

	.slick-slide {
		@include breakpoint(tablet) {
			opacity: 0.3;
			transition: all 0.3s linear;
		}

		&.slick-current {
			@include breakpoint(tablet) {
				opacity: 1;
			}
		}
	}

	.slick-dots {
		bottom: -10px;
		
		@include breakpoint(tablet) {
			bottom: -10px;
		}
	}

	.project-area {
		+ .project-nav {
			margin: 20px 0 0;

			@include breakpoint(tablet) {
				margin: 30px 0 0;
			}
		}
	}

	.project-wrapper {
		position: relative;

		@include breakpoint(tablet) {
			padding: 0 15px;
		}

		.link {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			
			@include breakpoint(tablet) {
				left: 15px;
				right: 15px;
			}
		}
	}

	.project {
		position: relative;
	}

	.project-nav {
		@include breakpoint(wide) {
			display: none;
		}

		.slick-slide {
			outline: 0;

			&.slick-current {
				.photos {
					opacity: 1;
				}
			}

			.photos {
				opacity: 0.5;
			}
		}

		.slick-current {
			.nav-wrapper {
				&:before {
					visibility: visible;
					opacity: 1;
				}
			}
		}

		.nav-wrapper {
			outline: 0;
			padding: 2px;
			position: relative;
			vertical-align: middle;

			@include breakpoint(tablet) {
				padding: 8px 4px;
			}

			&:before {
				content: "";
				position: absolute;
				z-index: 1;
				top: 2px;
				left: 2px;
				right: 2px;
				bottom: 2px;
				border: 4px solid $red;
				pointer-events: none;
				visibility: hidden;
				opacity: 0;
				transition:all 0.3s linear;

				@include breakpoint(tablet) {
					top: 8px;
					left: 4px;
					right: 4px;
					bottom: 8px;
					border-width: 6px;
				}
			}
		}

		.photos {
			cursor: pointer;
			width: 100%;
			height: 0;
			padding: 0 0 61%;
			background-position: center top;
			background-repeat: no-repeat;
			background-size: cover;

			@include breakpoint(desktop) {
				padding: 0 0 60%;
			}
		}
	}

	.image-area {
		position: relative;
		height: 0;
		padding: 0 0 66.5%;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		+ .tag {
			margin: 10px 0 0;
			
			@include breakpoint(tablet) {
				margin: 20px 0 0;
			}
		}
	}

	.tag {
		padding: 0 16px;
		
		@include breakpoint(tablet) {
			padding: 0;
		}
	}

	.desc-area {
		padding: 0 16px;
		
		@include breakpoint(tablet) {
			padding: 0;
		}

		h5 {
			font-size: 1.4em;
			line-height: 120%;

			@include breakpoint(small-mobile) {
				font-size: 1.3em;
			}

			@include breakpoint(tablet) {
				font-size: 1.8em;
			}
		}
	}
}

.partners-info {
	.partners-list {
		padding: 10px;
	}

	.partners {
		position: relative;
		height: 70px;

		img {
			position: absolute;
			max-width: 100%;
			max-height: 100%;
			top: 50%;
			left: 50%;
			right: initial;
			bottom: initial;
			transform: translate(-50%, -50%);
		}
	}

	.slick-dotted {
		&.slick-slider {
			padding-bottom: 0;
		}

		.slick-dots {
			bottom: -15px;
			
			@include breakpoint(tablet) {
				bottom: -20px;
			}

			li {
				&.slick-active {
					button {
						background-color: $red;
					}
				}

				button {
					background-color: rgba(153,162,165,0.5);
				}
			}
		}
	}
}

