.partner-thumbnails {
	.partner-wrapper {
		position: relative;
		padding: 15px;

		@include breakpoint(tablet) {
			padding: 30px;
		}

		.image-area {
			position: relative;
			height: 0;
			padding: 0 0 66.5%;

			img {
				position: absolute;
				max-width: 100%;
				max-height: 100%;
				top: 50%;
				left: 50%;
				right: initial;
				bottom: initial;
				transform: translate(-50%, -50%);
			}
		}
	}
}