/**
* Buttons
*/

$btn-bg: $primary;
$btn-text-color: white;
$btn-font-weight: inherit;
$btn-font-size: inherit;
$btn-padding-x: .75rem;
$btn-padding-y: .5rem;
$btn-border-color: transparent;
$btn-border-width: 1px;
$btn-border-radius: 0;

$btn-hover-bg: darken($primary, 10%);
$btn-hover-text-color: white;
$btn-hover-border-color: transparent;

.btn {
	display: inline-block;
	padding: $btn-padding-y $btn-padding-x;
	border: $btn-border-width solid transparent;
	background-color: $btn-bg;
	color: $btn-text-color;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	font-size: $btn-font-size;
	font-weight: $btn-font-weight;
	cursor: pointer;
	transition: $transition-base;
	user-select: none;
	text-decoration: none;
	border-radius: $btn-border-radius;

	&:hover,
	&:focus {
		text-decoration: none;
	}

	&:focus {
		outline: 0;
	}

	&:hover {
		background-color: $btn-hover-bg;
		color: $btn-hover-text-color;
		border-color: $btn-hover-border-color;
	}
}

.btn-block {
	display: block;
	width: 100%;
}

.btn-outline {
	border: 1px solid $btn-bg;
	background-color: transparent;
	color: $btn-bg;
	
	&:hover {
		border-color: $btn-bg;
		background-color: $btn-bg;
		color: $btn-hover-text-color;
	}
}


.button {
	color: $white;
	border: 1px solid $red;
	background-color: $red;
	font-family: 'museosans_700';
	text-align: center;
	padding: 8px 16px;
	display: inline-block;
	font-size: 16px;
	letter-spacing: 0.5pt;
	width: auto;
	outline: 0;
	border-radius: 8px;
	transition: all 0.3s linear;

	&.full-rounded {
		border-radius: 30px;
	}

	&:hover {
		@include breakpoint(desktop) {
			color: $white;
		}

		.icon-arrow {
			@include breakpoint(desktop) {
				margin: 0 0 0 10px;
			}
		}
	}

	&:focus {
		color: $white;
		outline: 0;
		box-shadow: none;
	}

	&[disabled] {
		opacity: 0.5;
	}

	&.outline {
		border-color: $red;
		background-color: transparent;
		color: $red;

		&:hover {
			@include breakpoint(desktop) {
				opacity: 1;
				background-color: $red;
				color: $white;
			}
		}

		&:focus {
			background-color: $red;
			color: $white;
		}
	}

	span {
		display: inline-block;
    	vertical-align: middle;
	}

	.icon-arrow {
		display: inline-block;
		vertical-align: middle;
		margin: 0 0 0 4px;
		width: 18px;
		height: 18px;
		background-image: url('../assets/img/icon-chevron-right.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		transition: all 0.1s linear;
	}
}