.lg-outer {
	.lg-img-wrap {
		padding: 0;
	}

	.lg-toogle-thumb {
		width: 40px;
		height: 36px;
		top: -36px;
		right: 0px;
		background-color: $bg-semi-black;
		padding: 0;
		line-height: 36px;
		border-radius: 6px 0 0 0;
	}

	.lg-thumb-outer {
		height: auto!important;
	}

	.lg-thumb {
		text-align: center;
		margin: 0 auto;
		height: auto;
		background-color: $bg-semi-black;

		.lg-thumb-item {
			float: none;
			display: inline-block;
			vertical-align: middle;
			margin-bottom: 0;
			border-radius: 0;

			&:last-child {
				margin-right: 0!important;
			}
		}
	}

	.lg-actions {
		.lg-next, 
		.lg-prev {
			font-size: 1.2em;
			margin-top: -20px;
			width: 32px;
			height: 32px;
			text-align: center;
			padding: 4px 5px;
			border-radius: 6px;
		}

		.lg-next {
			right: 4px;
		}

		.lg-prev {
			left: 4px;
		}
	}
}

.lg-sub-html {	
	@include breakpoint(mobile) {
		padding: 10px 30px;
	}

	h5 {
		font-family: 'neurialgrotesk-regular';
		font-size: 1em;
		margin: 0;
		line-height: 130%;

		@include breakpoint(mobile) {
			font-size: 0.8em;
		}

		+ h6 {
			margin: 10px 0 0;
		}
	}

	h6 {
		font-family: 'neurialgrotesk-regular';
		font-size: 0.85em;
		margin: 0;
		line-height: 130%;

		@include breakpoint(mobile) {
			font-size: 0.65em;
		}

		i {
			margin: 0 4px 0 0;
		}
	}
}